* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  background-color: #272727;
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  margin: 20px 20px;
  background-color: #747474;
  border-radius: 20px;
}

section {
  justify-content: center;
  width: 95%;
  height: 30%;
  margin-bottom: 5px;
}
section input {
  text-align: right;
  font-size: 65px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 0.5px rgba(43, 46, 228, 0.986) solid;
}

#button9 {
  grid-area: button9;
}

#button8 {
  grid-area: button8;
}

#button7 {
  grid-area: button7;
}

#button6 {
  grid-area: button6;
}

#button5 {
  grid-area: button5;
}

#button4 {
  grid-area: button4;
}

#button3 {
  grid-area: button3;
}

#button2 {
  grid-area: button2;
}

#button1 {
  grid-area: button1;
}

#button0 {
  grid-area: button0;
}

#buttonDecimial {
  grid-area: buttonDecimial;
}

#buttonEquals {
  grid-area: buttonEquals;
}

#buttonMultiply {
  grid-area: buttonMultiply;
}

#buttonDivide {
  grid-area: buttonDivide;
}

#buttonSubtract {
  grid-area: buttonSubtract;
}

#buttonAdd {
  grid-area: buttonAdd;
}

#buttonNegative {
  grid-area: buttonNegative;
}

#buttonBackSpace {
  grid-area: buttonBackSpace;
}

#buttonClear {
  grid-area: buttonClear;
}

#buttonClearAll {
  grid-area: buttonClearAll;
}

main {
  padding-left: 10px;
  display: grid;
  grid-template-areas: "buttonClearAll buttonClear buttonBackSpace buttonDivide" "button7 button8 button9 buttonMultiply" "button4 button5 button6 buttonSubtract" "button3 button2 button1 buttonAdd" "button0 buttonDecimial buttonNegative buttonEquals";
  width: 98%;
  height: 65%;
}

button {
  width: 105px;
  height: 70px;
  background-color: #161F6D;
  color: white;
  border-radius: 100px;
}

button:active {
  background-color: #272727;
  color: whitesmoke;
}

.numButton {
  background-color: #14a76c;
}

.delButton {
  background-color: #ff652f;
}

.funcButton {
  background-color: #fee400;
  color: #747474;
}